# Build artifacts
bin/
obj/

# User-specific files
*.user
*.suo
*.sln.docstates

# Visual Studio
.vs/


# NuGet packages
packages/
*.nupkg

# Angular / Node.js
node_modules/
dist/
.angular/
.env

# Logs
*.log


# Temporary files
*.tmp
*.bak


